#calculadora {
    margin: auto;
    width: 30%;
    border: 3px solid black;
    padding: 10px;
    background-color: #071115;
}

#display {
    margin: auto;
    padding: 10px;
    text-align: right;
    font-size: 50px;
    color: #f8fafb;
}

input#AC {
    background-color: #2d191e;
    color: #bd3740;
    width: 95%;
}

input#equal {
    background-color: #223323;
    color: #ffffff;
    width: 95%;
}

input.btn-number{
    background-color: #1b2f38;
    color: #f8fafb;
}

input.btn-operator{
    background-color: #c46c14a9;
    color: black;
}

input#AC:focus {
    background-color: #bd3740;
    color: #ffffff;
}

input.btn-operator:focus{
    background-color: #e0770d;
    color: #ffffff;
}

input#equal:focus{
    background-color: #13871a;
}

input {
    height: 70px;
    width: 80px;
    border: 0;
    border-radius: 30px;
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: all 200ms ease;
}